body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "SFDisplayMedium",
    "SFDisplayBold", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "SFDisplay";
  font-style: normal;
  font-weight: normal;
  src: local("SFDNSDisplayCondesned-Medium"),
    url(./fonts/SFNSDisplayCondensed-Medium.otf) format("opentype");
}

@font-face {
  font-family: "SFDisplay";
  font-style: normal;
  font-weight: bold;
  src: local("SFNSDisplayCondesned-Bold"),
    url(./fonts/SFNSDisplayCondensed-Bold.otf) format("opentype");
}
