/* .userSection {
  margin-top: 3%;
} */

.profileShow {
  display: flex;
  flex-direction: row;
}

.userSection {
  background-color: rgb(176, 176, 176);
  width: 25%;
  height: 100%;
  position: fixed;
  left: 11.45%;
}

.usersectionLogged {
  background: #1e2021;
  width: 425px;
  height: 600vh;
  padding: 1rem;
  flex-shrink: 0;
  border-radius: 30px 0px 0px 0px;
  color: #fff;
  margin-right: -50px;
}

.namePlate {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center !important;
}

/* .userTag {
  font-size: 20px;
  text-align: center;
} */
.dynamicProj {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 23%;
  height: 20%
}


.projectsSection {
  width: 55%;
}

.projectSectionLogged {
  width: 800px;
  height: 600vh;
  padding-right: 115px;
}

.imagelinks {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.test {
  align-items: flex-end;
}
.imgtext {
  float: left;
  align-items: center;
}
.userpic {
  border-radius: 25%;
  height: 130px !important;
  width: 130px !important;
  object-fit: cover;
}
/* .username {
  float: left;
} */
/* .userTag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

/* .socialIcon {
  height: 50px;
  width: 50px;
} */

.socialText {
}

.socialPlate {
  /* text-align: center; */
}

.divider {
  margin: 60px 0px 40px 0px;
}

.center {
  text-align: center;
}

.projectHeader {
  padding-bottom: 30px;
}
