.Project_Title > hr {
  font-display: center;
  padding: 40px;
  text-align: left;
  color: black;
  font-size: 30px;
}

.description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  float: center;
  padding: 80px;
}

.project_image {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  width: 400px;
}

.links {
  padding-top: 20px;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: space-evenly;
  font-size: medium;
  color: blue;
  cursor: pointer;
  padding: 15px;
}
