.Project_Title > h2 {
  padding: 40px;
  text-align: center;
  color: black;
  font-size: 60px;
}

.description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  float: center;
  padding: 20px;
}

.project_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-radius: 10%;
  padding: 30px;
}
.links {
  padding-top: 20px;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: left;
  padding: 15px;
}

.Github {
  border-radius: 8px;
  padding: 5px;
  width: 40px;
}

.Livelink {
  border-radius: 8px;
  padding: 5px;
  width: 40px;
}
